.phone{
    box-sizing: border-box;
    margin-top: 2rem;
    min-width: 19rem;
    border: .65rem solid $White;
    border-radius: 40px;
    max-height: 38.3rem;
    box-shadow: 0 0 .9rem .2rem $Transparent-Dark-Desaturated-Violet;
    z-index: 1;
    background-color: $Light-Grayish-Violet;

    .user-container{
        display: flex;
        background-image: linear-gradient(to right, $Light-Violet , $Light-Magenta);
        position: relative;
        color: $White;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;


        .white-space{
            background-color: $White;
            width: 8rem;
            height: 1rem;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            position: absolute;
            left: 4.85rem;
            top: -.1rem;
        }

        .user-container-1{
        display: inline-flex;
        padding-block: 1rem;
        margin-top: .8rem;
        line-height: 1.5;


            .avatar{
                max-width: 1.7rem;
                max-height: 1.7rem;
                border-radius: 50%;
                margin-left: 2rem;
                margin-right: .5rem;
                align-self: center;
                border: 1.5px solid $White;
            }
            
            .name{
                font-size: .8rem;
            }

            .available{
                font-size: .55rem;
                color: $Pale-Violet;                
            }

        }

        .fa-angle-left, .fa-ellipsis-vertical{
            position: absolute;
            top: 2.3rem;
            color: $White;
        }

        .fa-angle-left{
            left: 1rem ;
        }

        .fa-ellipsis-vertical{
            left: 16.5rem;
        }
    }



    .text-container{
        display: grid;
        grid-template-rows: repeat(8, fr);
        margin: .5rem;



        .text{

            display: inline-flex;
            margin-block: .4rem;
            font-size: .6rem;
            padding: .5rem;
            border-radius: 15px;
            line-height: 1.4;


        }

        .text-left{
            background-color: $Light-Pale-Violet;
            max-width: 11rem;
            border-bottom-left-radius: 5px;
            color: $Moderate-Violet;

        }

        .text-right{
            background-color: $White;
            justify-self: end;
            max-width: 11rem;
            border-bottom-right-radius: 5px;
            box-shadow: 0 .2rem .9rem -.3rem $Dark-Grayish-Violet;
            color: $Desaturated-Dark-Violet;

           
          &:nth-last-of-type(2){
              margin-bottom: 1rem;
          }

        }

        .message{
            background-color: $White;
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-radius: 30px;
            position: relative;
            margin-bottom: 1rem;

            p{
                color: $Grayish-Blue;
                padding-left: .6rem;
                padding-top: .4rem;
                font-size: .7rem;

            }

            i{
                position: absolute;
                top: .3rem;
                left: 14.5rem;
            }

        
        }


        .dog-image{
            max-width: 2.5rem;
            float: right;
            margin: .3rem;
            margin-top: .7rem;
            border-radius: 10px;
        }

        .time{
            display: flex;
            max-width: 13rem;
            position: relative;
            min-height: 2.5rem;
            align-items: center;
            background-image: linear-gradient(to right, $Light-Magenta , $Light-Violet);
            color: $White;



            .price{
                position: absolute;
                left: 9.9rem;
                font-size: 1rem;
                font-weight: 600;
            }

            .circle{
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                outline: 1px solid white;
                margin-right: 1rem;
            }
        }
    
    }
}
