@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 52%;
}

.container {
  display: flex;
  margin-top: 2rem;
}

.sedans {
  background-color: var(--bright-orange);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.item {
  font-family: 'Lexend Deca', sans-serif;
  padding: 2rem 2rem;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: var(--light-gray);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.paragraph {
  font-size: 0.8rem;
  padding-right: 1.8rem;
  line-height: 1.7;
}

button {
  font-family: 'Lexend Deca', sans-serif;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid var(--light-gray);
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.sedans button {
  color: var(--bright-orange);
}

.suvs button {
  color: var(--dark-cyan);
}

.luxury button {
  color: var(--very-dark-cyan);
}

p,
button {
  font-size: 0.9rem;
  color: var(--transparent-white);
}

button:hover {
  background-color: transparent;
  cursor: pointer;
  color: var(--light-gray);
}

footer {
  margin: 2rem;
  color: var(--dark-cyan);
  text-align: center;
}

footer a {
  color: var(--very-dark-cyan);
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
  }

  .sedans {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
  }

  .luxury {
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
  }
  button {
    margin-top: 1rem;
  }
}
